body{
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(45deg,magenta, green);
}

.login {
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
}

h1{
    color: aliceblue;
}

input {
    padding: 15px;
    border: none;
    outline:none;
    font-size: 15px;
    border-radius: 5px;
}

button{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: aliceblue;
    font-size: 15px;
}
button:hover {
    background-color: deepskyblue;
    cursor: pointer;
}